@import 'fonts';

html, body{
  display: flex;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Inter-Bold', sans-serif; 
  margin: 0;  
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: 'inter', sans-serif;
  font-size: 14px;
  margin: 0 auto;  
  background-color: rgb(255, 255, 255);
}

.container{
  position: relative;
  max-width: 1440px;
  height: auto;
  
}

:root {

  
  
  // --main: #88c000;
  // --secondary: #f36183;
  // --white: #fff;
  // --blue: #17395f;
  // --lightBlue: #145FB0;
  // --gray: #404040;
  // --pinkDark: #b34b63;
}

// .mavick {
//   font-family: 'Mavick', sans-serif;
// }

// .museo {
//   font-family: 'Museo300', sans-serif;

//   &-it {
//     font-family: 'Museo300It', sans-serif;
//   }

//   &__100 {
//     font-family: 'Museo100', sans-serif;

//     &-it {
//       font-family: 'Museo100It', sans-serif;
//     }
//   }

//   &__500 {
//     font-family: 'Museo500', sans-serif;

//     &-it {
//       font-family: 'Museo500It', sans-serif;
//     }
//   }


//   &__700 {
//     font-family: 'Museo700', sans-serif;

//     &-it {
//       font-family: 'Museo700It', sans-serif;
//     }
//   }


//   &__900 {
//     font-family: 'Museo900', sans-serif;

//     &-it {
//       font-family: 'Museo900It', sans-serif;
//     }
//   }

// }

